# shellcheck shell=bash
set -euo pipefail

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM=
fi
use flake .

PATH_add bin
export CC_ME_URL="${CC_ME_URL:-http://127.0.0.1:3000}"
export DATABASE_URL="${DATABASE_URL:-postgres://cc_me@127.0.0.1:55432/cc_me}"
export FONTS_DIR="${FONTS_DIR:-$PWD/fonts}"
